################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FraudShield.Test/obj/Debug/net6.0
/FraudShield.Test/bin/Debug/net6.0
/FraudShield.Test/obj
